# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Environment variables / secrets
.env
.env.*

# VSCode settings
.vscode/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# macOS and Linux
.DS_Store
*.swp

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Pytest cache
.pytest_cache/

# MyPy / Pylint / Coverage
.mypy_cache/
.coverage
coverage.xml
htmlcov/
*.cover

# Logs
*.log

# Build and distribution
build/
dist/
*.egg-info/

test_pymupdf.py
